.banner {
    text-align: center;
    height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-bottom: 2rem;    
    .image {
        background-color: var(--bg-color);
        background-image: url('../pictures/WW-1.jpg');
        background-size: contain;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
    .content {
        position: relative;
        z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        background-image: url(../pictures/WW-2.jpg);
    }
}