:root {
    --bg-color: #000;
    --main-text-color: #FFF;
    --main-brand-color: #c88937;
    --main-brand-color-light: #deb887;
    --border-color: #4b5563;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }

a {
    text-decoration: none;
}

.main-bg {
    background-color:var(--bg-color);
    color:var(--main-text-color);
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

a.hide {
    display: none;
}