:root {
    --bg-color: #000;
    --main-text-color: #FFF;
    --main-brand-color: #c88937;
    --main-brand-color-light: #deb887;
    --border-color: #4b5563;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

a {
    text-decoration: none;
}

.main {
    width: 90%;
    margin:0 auto;
    max-width: 768px;
    section {
        padding: 1rem;
    }
}

.section, form {
    margin-bottom: 1rem;
}


.main-bg {
    background-color:var(--bg-color);
    color:var(--main-text-color);
    opacity: 1;
    border-radius: 4px;
}

* {
    box-sizing: border-box;
}

h1, h2, p {
    margin-top: 0;
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

@media print {
    body {
        header.header, footer.footer, section.banner, video, img {
            display: none;
        }
    }
}