:root {
    --bg-color: #000;
    --main-text-color: #FFF;
    --main-brand-color: #e50914;
    --main-brand-color-light: #e44c54;
    --border-color: #4b5563;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }

.main-bg {
    background-color:var(--bg-color);
    color:var(--main-text-color);
}