.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 99;
    img {
        width: 20%;
        max-width: 150px;
        min-width: 100px;
    }
    .nav .list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}