.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /*overflow: hidden;*/
    img {
        width: 20%;
        max-width: 110px;
        min-width: 100px;
    }
    .nav .list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 5px;
    }
}